body {
	overflow-x: hidden;
	font-size: 15px;
}

h1 u {
	font-family: 'Maven Pro', sans-serif;
	font-size: 50px;
	font-weight: 900;
}

button {
    display: inline-block;
	border: none;
    padding: 0;

}

.text-center {
	text-align: center
}

.left-margin {
	margin-left: 10px;
}

.control {
	background: black;
	color: white;
	border: 1px solid #333;
    border-radius: 4px;
   	padding: 1px 5px 1px 5px;
}

.up, .down {
	padding: 1px 7px 1px 7px;
}

.quit, .pause {
	padding: 1px 10px 1px 10px;
}

.boxed {
  border: 2px solid black ;
  font-size: 15px;
  padding: 4px 4px 4px 4px;
  margin: auto auto 10px auto;
  border-radius: 10px;
}

li {
	font-size: 20px;
	font-family: 'Maven Pro', sans-serif;
}

#score {
	font-size: 20px;
	display: none;
	margin: auto auto auto 50px;
}

#restart {
	display: none;
	background-color: #52CC52;
	color: white;
	padding: 5px 5px 5px 5px;
	margin: auto auto auto 450px;
}

#game-over {
	display: none;
	position: relative;
}

#endImg {
	opacity: 0.3;
}

#game-over-text {
	position: absolute;
	top:200px;
	left:70px;
	text-align: center;
	font-size: 50px;
	font-family: 'Play', sans-serif;
	font-weight: 700;
}
/*

#game-board {
	margin: auto auto auto 0px;
}

body {
    text-align: center;
}
*/


