body {
	overflow-x: hidden;
}

.text-center {
	text-align: center
}

.left-margin {
	margin-left: 10px;
}

.control {
	background: black;
	color: white;
	border: 1px solid #333;
    border-radius: 4px;
   	padding: 1px 5px 1px 5px;
}

.up, .down {
	padding: 1px 7px 1px 7px;
}

.quit, .pause {
	padding: 1px 10px 1px 10px;
}

.boxed {
  border: 2px solid black ;
  font-size: 15px;
  padding: 4px 4px 4px 4px;
  margin: auto auto 10px auto;
  border-radius: 10px;
}

li {
	font-size: 20px;
}


#life, #score {
	font-size: 20px;
	display: inline-block;
	margin: auto auto auto 50px;
}


/*

#game-board {
	margin: auto auto auto 0px;
}

body {
    text-align: center;
}
*/


